/* line 11, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
body {
  background-image: url("wall.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 47, ../sass/screen.scss */
.generic-button {
  width: 90px;
  padding: 7px;
  border: none;
  font-size: 0.7em;
  color: white;
  background-color: #373F51;
}
/* line 39, ../sass/screen.scss */
.generic-button:hover {
  cursor: pointer;
}

/* line 47, ../sass/screen.scss */
.danger-button {
  width: 90px;
  padding: 7px;
  border: none;
  font-size: 0.7em;
  color: white;
  background-color: #F05D5E;
}
/* line 39, ../sass/screen.scss */
.danger-button:hover {
  cursor: pointer;
}

/* line 47, ../sass/screen.scss */
.ok-button {
  width: 90px;
  padding: 7px;
  border: none;
  font-size: 0.7em;
  color: white;
  background-color: #0F7173;
}
/* line 39, ../sass/screen.scss */
.ok-button:hover {
  cursor: pointer;
}

/* line 52, ../sass/screen.scss */
.menu-bar {
  color: #404040;
  padding: 10px;
  margin: 0 0 30px 0;
  background-color: white;
  opacity: 0.9;
}
/* line 58, ../sass/screen.scss */
.menu-bar h3 {
  margin: 0;
}

/* line 63, ../sass/screen.scss */
.sizer {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

/* line 69, ../sass/screen.scss */
#login-button {
  width: 90px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  font-size: 0.8em;
}

/* line 76, ../sass/screen.scss */
.space-between-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 82, ../sass/screen.scss */
.content {
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}

/* line 88, ../sass/screen.scss */
.gallerite {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  width: 200px;
}
/* line 93, ../sass/screen.scss */
.gallerite img {
  width: 100%;
}

/* line 98, ../sass/screen.scss */
.description {
  text-align: center;
}

/* line 102, ../sass/screen.scss */
.type-header {
  margin: 10px 0 10px 0;
  background-color: gray;
  padding: 5px;
  color: white;
}
/* line 107, ../sass/screen.scss */
.type-header:hover {
  cursor: pointer;
}

/* line 112, ../sass/screen.scss */
input {
  width: 220px;
  margin: 10px 0 10px 0;
  padding: 5px;
}

/* line 118, ../sass/screen.scss */
.main-hr {
  margin: 10px 0 10px 0;
}

/* line 122, ../sass/screen.scss */
.minor-hr {
  margin: 5px 0 5px 0;
}

/* line 126, ../sass/screen.scss */
.new-gallerite-form {
  display: none;
}

/* line 130, ../sass/screen.scss */
.error-message {
  background-color: #F05D5E;
  color: white;
  padding: 3px;
}

/* line 136, ../sass/screen.scss */
.adder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8em;
  color: #404040;
}
/* line 142, ../sass/screen.scss */
.adder img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* line 149, ../sass/screen.scss */
.likes-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* line 156, ../sass/screen.scss */
.like-button, .explore-button, .unlike-button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
}
/* line 161, ../sass/screen.scss */
.like-button:hover, .explore-button:hover, .unlike-button:hover {
  cursor: pointer;
}

/* line 166, ../sass/screen.scss */
.like-button {
  background-color: #0F7173;
}

/* line 170, ../sass/screen.scss */
.explore-button {
  margin-top: 5px;
  background-color: #373F51;
  width: 100%;
}

/* line 176, ../sass/screen.scss */
.unlike-button {
  background-color: #F05D5E;
}

/* line 181, ../sass/screen.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  margin-right: 5px;
}

/* line 186, ../sass/screen.scss */
.article-icon {
  width: 100px !important;
}

/* line 190, ../sass/screen.scss */
.footer {
  font-size: 0.8em;
  color: #404040;
  margin-top: 30px;
  background-color: white;
  opacity: 0.9;
  padding: 5px;
}
/* line 197, ../sass/screen.scss */
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 203, ../sass/screen.scss */
.footer a {
  color: #404040;
}
