<!DOCTYPE html>
<html>
<head>
	<title>Galleria</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="scripts/addGallerite.js"></script>
</head>
<body>
	<div class="menu-bar">
		<div class="sizer">
			<div class="space-between-wrapper">
				<h3>Galleria</h3>
				<div class="button-wrapper">
				<a href="/"><button class="generic-button">Home</button></a>
				<a href="/myGallerites"><button class="generic-button">My gallerites</button></a>
				<a href="/login/logout"><button class="danger-button">Logout</button></a>
				</div>
			</div>
		</div>
	</div>

	<div class="content sizer">
		<% if (message) { %>
		<span class="error-message"><%= message %></span>
		<% } %>
		<p>Select your gallerite's type and then enter its information and submit.</p><hr>
		<div class="gallerite-type">
			<p class="type-header">Image</p>
			<form class="new-gallerite-form" action="/addGallerite" method="post">
				<p>Image URL (must include http://):</p>
				<input type="hidden" name="type" value="image">
				<input class="link-input" placeholder="Enter link" name="link" required>
				<p>Description:</p>
				<input placeholder="Enter description" name="description" required><br/>
				<button type="submit" class="ok-button">Add</button>
				<button class="danger-button cancel">Cancel</button>
			</form>
		</div>
		<div class="gallerite-type">
			<p class="type-header">YouTube Video</p>
			<form class="new-gallerite-form" action="/addGallerite" method="post">
				<p>Embed URL (Found in share menu in video's page):</p>
				<input type="hidden" name="type" value="youtube">
				<input class="link-input" placeholder="Enter embed URL" name="link" required>
				<p>Description:</p>
				<input placeholder="Enter description" name="description" required><br/>
				<button type="submit" class="ok-button">Add</button>
				<button class="danger-button cancel">Cancel</button>
			</form>
		</div>
		<div class="gallerite-type">
			<p class="type-header">Article</p>
			<form class="new-gallerite-form" action="/addGallerite" method="post">
				<p>Article's URL (must include http://):</p>
				<input type="hidden" name="type" value="article">
				<input class="link-input" placeholder="Enter article's URL" name="link" required>
				<p>Description:</p>
				<input placeholder="Enter description" name="description" required><br/>
				<button type="submit" class="ok-button">Add</button>
				<button class="danger-button cancel">Cancel</button>
			</form>
		</div>
	</div>

	<div class="footer">
		<div class="sizer">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Galleria 2016. All Rights Reserved</span>
		</div>
	</div>
</body>
</html>