$section-bk-color: white;
$section-font-color: #404040;
$generic-button-font-color: white;
$button-width: 90px;
$generic-button-bk-color: #373F51;
$danger-button-bk-color: #F05D5E;
$ok-button-bk-color: #0F7173;
$type-header-bk-color: gray;
$type-header-font-color: white;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("wall.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

@mixin button($type) {
	width: $button-width;
	padding: 7px;
	border: none;
	font-size: 0.7em;
	color: $generic-button-font-color;
	@if $type == danger {
		background-color: $danger-button-bk-color;
	} @elseif $type == generic {
		background-color: $generic-button-bk-color;
	} @elseif $type == ok {
		background-color: $ok-button-bk-color;
	}
	&:hover {
		cursor: pointer;
	}
}

$buttons: generic danger ok;

@each $button in $buttons {
	.#{$button}-button {
		@include button($button); 
	}
}

.menu-bar {
	color: $section-font-color;
	padding: 10px;
	margin: 0 0 30px 0;
	background-color: $section-bk-color;
	opacity: 0.9;
	h3 {
		margin: 0;
	}
}

.sizer {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}

#login-button {
	width: $button-width;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
	font-size: 0.8em;
}

.space-between-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content {
	background-color: $section-bk-color;
	opacity: 0.9;
	padding: 10px;
}

.gallerite {
	margin: 5px;
	padding: 5px;
	border: 1px solid gray;
	width: 200px;
	img {
		width: 100%;
	}
}

.description {
	text-align: center;
}

.type-header {
	margin: 10px 0 10px 0;
	background-color: $type-header-bk-color;
	padding: 5px;
	color: $type-header-font-color;
	&:hover {
		cursor: pointer;
	}
}

input {
	width: 220px;
	margin: 10px 0 10px 0;
	padding: 5px;
}

.main-hr {
	margin: 10px 0 10px 0;
}

.minor-hr {
	margin: 5px 0 5px 0;
}

.new-gallerite-form {
	display: none;
}

.error-message {
	background-color: $danger-button-bk-color;
	color: white;
	padding: 3px;
}

.adder {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.8em;
	color: $section-font-color;
	img {
		width: 40px;
		height: 40px;
		margin-right: 5px;	
	}
}

.likes-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.like-button, .explore-button, .unlike-button, .delete-button {
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px;
	&:hover {
		cursor: pointer;
	}
}

.like-button {
	background-color: $ok-button-bk-color;
}

.explore-button, .delete-button {
	margin-top: 5px;
	width: 100%;
}

.explore-button {
	background-color: $generic-button-bk-color;
}

.delete-button {
	background-color: $danger-button-bk-color;
}

.unlike-button {
	background-color: $danger-button-bk-color;
}

// From http://weloveiconfonts.com/
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
	margin-right: 5px;
}

.article-icon {
	width: 100px !important;
}

.emblem-link {
	text-decoration: none;
	color: $section-font-color;
}

.user-info {
	text-align: center;
}

.footer {
	font-size: 0.8em;
	color: $section-font-color;
	margin-top: 30px;
	background-color: $section-bk-color;
	opacity: 0.9;
	padding: 5px; 
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	a {
		color: $section-font-color;
	}
}